@import "mixins";
@import "fonts";
@import "vendor";
@import "vars";
@import "settings";

body {
  background-color: #f00;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
